<!-- List-template -->
<template id="list-template">
    <div class="list-container m-2" id="list-1">
        <div class="list py-3 px-2 shadow rounded bg-white">
            <span class="list-delete text-danger font-weight-bold mr-2 float-right">
                <i class="fa fa-times"></i>
            </span>
            <div class="list-header px-2">
                <div class="list-title" contenteditable="true"></div>
            </div>
            <div class="list-items-container my-3">

            </div>
            <div class="list-footer px-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Tarea..." aria-label="Tarea..." aria-describedby="add-task">
                    <div class="input-group-append">
                        <span class="input-group-text btn btn-primary" id="add-task">
                            <i class="fa fa-plus fa-xs"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- Task-template -->
<template id="task-template">
    <div class="task-container p-1 m-1 shadow-sm border bg-white rounded row" id="task-1">
        <div class="task-body col-10">
            <div class="task-title" contenteditable="true"></div>
        </div>
        <div class="task-actions row">
            <div class="task-action task-status">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="task-status-checkbox" id="task-status-checkbox">
                    <label class="custom-control-label" for="task-status-checkbox"></label>
                </div>
            </div>
            <div class="task-action task-delete">
                <span class="text-danger font-weight-bold">
                    <i class="fa fa-times"></i>
                </span>
            </div>
        </div>
    </div>
</template>