#container {
    overflow: auto;
}

.list-container {
    flex: 250px 0 0;
}

.list,
.list-create {
    height: auto;
    min-width: 250px;
    max-width: 250px;
}

.list-title,
.task-title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.task-title {
    max-width: 15ch;
}

.list-title {
    max-width: 25ch;
}